*{
    margin: 0%;
    padding: 0%;
   }
   
.body{
    font-family: 'Varela Round', sans-serif;
}
   
.cabecalho{
    background-color: #011e36 ;  
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-size: 30px;
}
   
.cabecalho-imagem{
    width: 20%;
}
   
.cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}    

.Parte-de-cima{
    background-color: #242424;
}


.Andromeda-imagem{
    width: 25%;
    background-color: #242424;
    display: flex;
    color: white;
}
.Sistemas-solares{
    background-color:#242424;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-size: 20px;
}
   .sistema-div-conteúdo{ 
    width: 35%;
    justify-content: center;
}
   
   .Sistema-solar-titulo{
    padding:  24px 0;
}
.ORIGEM-DO-UNIVERSO{
    background-color: #242424;
    color: white;
     display: flex;
    justify-content: center;
    align-items: center;
     padding: 24px 0;
     font-size: 20px;
}
.ODU-div-conteudo{
    width: 35%;
     justify-content: center;
}
   
.ODU-titulo{
     padding: 24px 0;
}

.Propaganda-div{
    text-align: center;
    background-color: #242424;
}
.Propaganda-exata{
    width: 100%;
    text-align:center;
    
}

.Buracos-negros{
    background-color: #242424;
    align-items: center;
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;

}
p{
    line-height: 2rem;
    margin-top: 1rem;
    
}